.category ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.category a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.category li{
    background-color: rgba(236, 231, 231, 0.797);
    padding: 5px 5px;
    border-radius: 5px;

}