.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 45px;
}
.others{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.others h4{
    background-color: black;
    padding: 10px;
    color: whitesmoke;
    border-radius: 100%;
    font-size: 20px;
}
.search input{
height: 40px;
width: 450px;
border-radius: 50px;
font-size: 15px;
padding-left: 20px;
}
.others .Navlinks a{
    text-decoration: none;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    color:black;
    padding: 0px 5px;
}

/* we are styling for anchor tag because in react it will be link tag but in html it converts into anchor tag */
